@model ProvaDjalma.Models.Usuario

@{
    ViewBag.Title = "Edit";
}

<h2>Editar Vendedor</h2>

@using (Html.BeginForm("SalvarAlteracoes", "Usuario", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)


        @*CARREGA DA VIEW PARCIAL*@

        @Html.Partial("_FrmUsuario")


        <div class="form-group">
            <br />
            <div class="form-actions no-color">
                <input type="submit" value="Salvar" class="btn btn-success" />
                @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-primary" })
            </div>

        </div>
    </div>
}


